<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflma.opadminbatch.dao.PostingMapper">
    <select id="findByPostedComplete" resultType="String">
        SELECT GROUP_CONCAT(a.activityId) FROM activities a
                                      LEFT JOIN campaign c ON a.campaignId = c.campaignId
                                      LEFT JOIN users u ON u.userId = a.userId
                                      LEFT JOIN collected_post_activities cpa ON cpa.activity_id = a.activityId
                                      LEFT JOIN collected_post cp ON cpa.collected_post_id = cp.id
                                      LEFT JOIN collected_post_tag cpt ON cpt.collected_post_id = cp.id
        WHERE a.state IN (2,3) AND json_extract(cpt.tags,'$[0]') = "검수완료" AND cp.post_status = 0 and cpa.tagStatus = 1
          AND Date(cpa.created_at) <![CDATA[>=]]> '2022-12-09' AND DATE_ADD( cpa.created_at, INTERVAL  c.posting_maintain_period DAY) <![CDATA[<]]>  Date(now())
          AND a.dutyCompletedAt IS NULL
    </select>

    <update id="completePosting" parameterType="map">
        UPDATE activities
            SET dutyCompletedAt = now()
        WHERE activityId in(${activityId});
    </update>

    <select id="activitiesFixedPeriodLock" resultType="String">
        SELECT GROUP_CONCAT( a.activityId ) from activities a
        inner join campaign c on a.campaignId = c.campaignId
        LEFT JOIN collected_post_activities cpa ON cpa.activity_id = a.activityId
        LEFT JOIN collected_post cp ON cpa.collected_post_id = cp.id
        left join campaign_assign_rule_lock carl on carl.campaign_id = c.campaignId
        LEFT JOIN collected_post_tag cpt ON cpt.collected_post_id = cp.id
        where a.state in (2,3) and Date(a.createdAt)  >= ('2022-12-09')
        and carl.lock_at is not null
        and cpt.tags is null and Date(carl.lock_at) <![CDATA[<=]]> Date(now());
    </select>

    <update id="activitiesLock">
        update activities
        set state = -2
        where activityId  in(${activityId});
    </update>

    <select id="activitiesPeriodLock" resultType="String">
        SELECT GROUP_CONCAT(a.activityId) from activities a
        inner join campaign c on a.campaignId = c.campaignId
        LEFT JOIN campaign_assign_rules car on car.campaign_id = c.campaignId
        where a.state in (2,3)
        and Date(a.createdAt)  >= ('2022-12-09')
        and car.`order` =1
        and car.lock_by_posting != 0
        and c.platform_type = 0
        and a.postedAt is null
        and Date(DATE_ADD( a.sampleRequestedAt, INTERVAL car.lock_by_posting DAY)) <![CDATA[<=]]> Date(now()) ;
    </select>
</mapper>