<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="batch.repository.PlatformAccountMapper">
    <select id="getPlatformAccounts" resultType="PlatformAccount">
        SELECT platformUid
            ,accessToken
        FROM
             PlatformAccount
        LIMIT #{_skiprows}, #{_pagesize}
    </select>
</mapper>