<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflma.opAdmin.dao.MoneyMapper" >
    <select id="transactionRequestExcel" resultType="map" parameterType="map">
        SELECT
            REPLACE ( REPLACE ( REPLACE( REPLACE ( request_info -> '$.bank' , '"', '') ,"(주택)", '') , '(외환)', '') ,'(조흥)', '')as bank ,
            actual_refund,
            REPLACE ( request_info -> '$.account' , '"','') as account,
            REPLACE ( request_info -> '$.accountName', '"', '') as name,
            request_id,
            "마켓잇 적립금" as message
        FROM account_transaction_request
        WHERE state = 0
        ORDER BY created_at DESC
    </select>

    <update id="completeTransactionRequest">
        UPDATE account_transaction_request
        SET state = 1 , paid_at = now()
        WHERE state = 0
    </update>

    <update id="refusalTransactionRequest" parameterType="map">
        UPDATE account_transaction_request
        SET state = -2
        WHERE request_id = #{request_id}
    </update>


</mapper>