<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflma.opAdmin.dao.TransactionRequestMapper" >
    <select id="transactionRequestExcel" resultType="map" parameterType="map">
        SELECT
            REPLACE ( REPLACE ( REPLACE( REPLACE ( request_info -> '$.bank' , '"', '') ,"(주택)", '') , '(외환)', '') ,'(조흥)', '')as bank ,
            actual_refund,
            REPLACE ( request_info -> '$.account' , '"','') as account,
            REPLACE ( request_info -> '$.accountName', '"', '') as name,
            request_id,
            "마켓잇 적립금" as message
        FROM account_transaction_request
        WHERE state = 0
        ORDER BY created_at DESC
    </select>

    <select id="transactionRequestWithdrawalList" resultType="map" parameterType="map">
        SELECT
            request_id,
            REPLACE ( request_info -> '$.accountName', '"', '') as name,
            user_id,
            REPLACE ( REPLACE ( REPLACE( REPLACE ( request_info -> '$.bank' , '"', '') ,"(주택)", '') , '(외환)', '') ,'(조흥)', '')as bank ,
            actual_refund,
            case when state = 0 then'출금 요청'
                 when state = 1 then '지급 완료'
                 when state = -2 then '담당자 출금 요청 취소' end as state,
            REPLACE ( request_info -> '$.account' , '"','') as account
        FROM account_transaction_request
        WHERE state = 0
        ORDER BY created_at DESC
            LIMIT #{pageOffset}, #{perPage}
    </select>

    <select id="transactionRequestWithdrawalCount" resultType="int">
        SELECT
           count(*)
        FROM account_transaction_request
        WHERE state = 0
    </select>

    <update id="completeTransactionRequest">
        UPDATE account_transaction_request
        SET state = 1 , paid_at = now()
        WHERE state = 0
    </update>

    <update id="refusalTransactionRequest" parameterType="map">
        UPDATE account_transaction_request
        SET state = -2
        WHERE request_id = #{request_id}
    </update>


</mapper>