<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflma.opAdmin.dao.MoneyMapper" >
    <select id="findByUserPushId" resultType="map" parameterType="String">
        SELECT pushId
        FROM users u
                 INNER JOIN account_transaction_request atr ON u.userId = atr.user_id
        WHERE atr.request_id = #{request_id};
    </select>
</mapper>